body{
  overflow-x: hidden;
}
.bg-dark{
  background-color: #2d2d2d!important;
}
.text-dark{
  color: #2d2d2d;
}
.text-yellow{
  color: #F9A826;
}
.bg-yellow{
  background-color: #F9A826!important;
}
.first-text{
  font-size: 30pt;
  font-weight: 700;
}
.second-text{
  font-size: 40pt;
  font-weight: 700;
}
.App {
  text-align: center;
}
.container-fluid{
  padding-right: 0!important;
  padding-left: 0!important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
nav{
  background-color: #fff!important;
  color: #2d2d2d;
}
.logo{
  margin-left: 100px;
  width: 100%;
}
.navbar-brand{
  margin-left: 100px;
}
.nav-auto{
  width: 100%;
  margin-right: 100px!important;
}
.nav-link{
  font-weight: 500;
  font-size: 14pt;
}
.jumbotron{
  background-color: #fff!important;
}
.jumbo-img{
  width: 500px;
  height: 100%;
  margin: 30px;
}
.jumbo-text{
  margin: 30px 0;
}
.btn{
  width: 35%;
  height: 48px;
  margin-right: 10px;
  border: none!important;
  font-weight: 700!important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.d-block{
  background-color: #999;
  min-height: 500px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
